.main
    min-height: 100vh
    width: 100%
    background: $ThirdColor
    background: linear-gradient(180deg, $ThirdColor 16%, $FourthColor 100%)
    display: flex
    align-items: center
    padding-top: calc(45% / 2)
    .card
        width: 85%
        margin: 3rem auto
        background: $SeventhColor
        display: flex
        align-items: center
        flex-direction: column
        border-radius: 2.5rem
        padding-bottom: 4.8rem
        max-width: 31.87rem
        .imgContainer
            background-image: url('../images/bg-pattern-mobile.svg')
            background-repeat: no-repeat
            background-position: center top 10rem
            background-size: 100%
            margin-top: calc(-1 * calc(63% / 2)) 
            width: 70%
            padding-bottom: 3.9rem
            img
                width: 100%
        .title
            font-size: 3rem
            margin-top: 1.5rem
        .questions
            width: 87%
            margin: 2rem 0rem
            .question
                label
                    li
                        display: flex
                        list-style: none
                        justify-content: space-between
                        align-items: center
                        width: 100%
                        border-bottom: 0.1rem solid #dcdce5
                        padding: 1.8rem 0rem
                        .qaContainer
                            .qTitle
                                font-size: 1.3rem
                                font-weight: 400
                                color: $FifthColor
                                width: 100%
                                transition: font-weight, color 2s
                            .text
                                margin-top: 2rem
                                width: 95%
                                display: none
                                font-size: $FontSize
                                color: $SixthColor
                                transition: display 1s
                        .arrow
                            align-self: self-start
                            transition: ease 0.2s
                input
                    display: none
                    &:checked ~ label li .qaContainer .text
                        display: block
                    &:checked ~ label li .qaContainer .qTitle
                        font-weight: 700
                        color: $FirstColor
                    &:checked ~ label li .arrow
                        transform: rotate(180deg)