@media screen and (min-width: 550px)
    .main
        .card
            .imgContainer
                    background-position: center top calc(63% * 1.45)
@media screen and (min-width: 700px)
    .main
        .card
            .questionContainer
                .title
                    font-size: 4rem
                .questions
                    .question
                        label
                            li
                                .qaContainer
                                    .qTitle
                                        font-size: 1.6rem
                                    .text
                                        font-size: 1.7rem
@media screen and (min-width: 1440px)
    .main
        justify-content: center
        padding-top: 0
        .card
            display: flex
            flex-direction: row
            padding-top: 4.8rem 
            .imgContainer
                width: 50%
                background: none
                margin-top: 0
                padding: 0
                position: relative
                .imgWoman
                    position: absolute
                    top: -15.65rem
                    overflow: hidden
                    width: 100%
                    .img
                        position: relative                        
                        left: -7rem
                .box
                    display: block
                    position: absolute
                    top: -5.9rem
                    left: -9.4rem
            .questionContainer
                width: 50%
                .title
                    text-align: left
                .questions
                    width: 87%
                    max-width: 34.23rem